PORT=3000
JWT_SECRET=change-this-secret
API_KEY=change-this-api-key
ADMIN_KEY=change-this-admin-key
BAR_PRINTER_VID=0x04b8
BAR_PRINTER_PID=0x0202
KITCHEN_PRINTER_VID=0x04b8
KITCHEN_PRINTER_PID=0x0202
